*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --gren : green;
    --white:white;
    --border:rgba(0, 0, 0, 0.233);
    --shadow:rgba(48, 49, 48, 0.404);
    --font-poppins : "Poppins", serif;
    --product-preview-shadow : rgba(14, 13, 13, 0.772);
    --sh:rgba(43, 41, 41, 0.281);

    --product-container:rgba(216, 210, 210, 0.393);
    --Dark-primary-color:#388E3C;
    --Light-Primary-color:#C8E6C9;
    --primary-color:#4CAF50;
    --Text-icon:#FFFFFF;
    --Accent-color:#FF9800;
    --Primary-text:#212121;
    --secondary-text:#757575;
    --divider-color:#bdbdbdb3;
}

body{
    font-family: sans-serif;
}
#mobile-nav{
    display: none;
    
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5px;
    background-color: var(--white);
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 2;

}
nav > div{
    height: 100%;
}
.nav-box1{
    display: flex;
    align-items: center;
}

.nav-box1 img{
    width: 50px;
}

.nav-box2 ul{
    display: flex;
}
.nav-box2 ul li{
    display: block;
    height: 100%;
    padding: 3px 10px;
}

.nav-box3{
    display: flex;

}

.nav-box3 > div{
    margin: 5px;
    padding: 4px;
    border-radius: 3px;
    transition: all .4s;
    cursor: pointer;
}
#root{
    max-width: 1500px;
    width: calc(100%);
    float: right;
    position: relative;
    padding-top: 20px;
    transition: all .3s;
}
.mob-search-box{
    display: none;
}

#root .search-box{
    margin:0 auto 20px;
    display: block;
    width: 70%;
    height: 32px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 3px 14px;
    color: rgba(21, 20, 20, 0.861);
    transition: all 0.4s;

}
#root .search-box:focus{
    outline: none;
    box-shadow: 0 2px 5px 0 ,rgba(48, 49, 48, 0.603);
}

#root .slideshow{
    max-width: 1000px;
    max-height: 400px;
    position: relative;
    margin:50px auto auto;
}
.slideshow .text{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.slideshow .numbertext{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.slideshow img{
    margin: auto;
    display: block;
    width: 100%;
}
.slideshow .fade{
    animation-name: fade;
    animation-duration: .5s;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* for the catogories section */
#root .categories{
    display: flex;
    justify-content: center;
    margin: 15px auto;
    padding: 4px;
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
#root .categories::-webkit-scrollbar{
    display: none;
}

.categories .category{
    min-width: 100px;
    margin-left: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px ;
    box-shadow: 0 1px 3px 0 rgba(48, 49, 48, 0.404);
}
.categories .category p{
    text-align: center;
    
}


#h-b-alert{
   position: fixed; 
   background-color: rgba(106, 103, 103, 0.468);
   width: 100vw;
   height: 100vh;
   z-index: 40;
   display: none;
   justify-content: center;
   align-items: center;
}
#h-b-alert >div{
    width: 300px;
    height: 200px;
    background-color: #f8f3f3d5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

}

#h-b-alert .imoji{
    margin-bottom: 10px;
    font-size: 2em;
}

#h-b-alert p{
    margin-bottom: 40px ;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 3px;
}
#h-b-alert  button{
    width: 80%;
    padding: 5px;
    border: none;
    border-radius: 3px;
    background-color: var(--divider-color);
    cursor: pointer;
    transition: .4s;
    color: var(--Primary-text);
    font-weight: 700;
    box-shadow: 0 2px 10px 0 rgba(107, 106, 106, 0.11);

}
#h-b-alert  button:hover{
    color: var(--Text-icon);
    background-color: var(--secondary-text);
}