@media  screen and (max-width:650px) {
    body{
        background-color: white;
    }
    nav{
        justify-content: start;
        padding-left: 20px;
        position: static;
    }
    .nav-box1 img{
        width: 30px;
    }
    .nav-box1{
        font-size: .8em;

    }
    .nav-box2,.nav-box3{
        display: none;
    }
    #root #search-box-dec{
        display: none;
    }
    #root .mob-search-box{
        display: block;
        position: sticky;
        top: 0px;
        background-color: white;
        height: max-content;
        z-index: 10;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    #root .mob-search-box .search-box{
        margin: 0 10px 0 0;
        height: 26px;
        font-size: 0.7em;
        width: 60%;
    }
    #root{
        padding-top: 0;
    }
    #mobile-nav{
        position: fixed;
        bottom: 0px;
        display: flex;
        width: 100%;
        background-color: white;
        justify-content: space-between;
        padding: 10px 35px;
    }
    #mobile-nav>div{
        height: 100%;
        cursor: pointer;
    }


}