@media  all and (max-width:650px) {
    body{
        background-color: white;
    }
    nav{
        justify-content: start;
        padding-left: 20px;
        position: static;
    }
    .nav-box1 img{
        width: 30px;
    }
    .nav-box1{
        font-size: .8em;

    }
    .nav-box2,.nav-box3{
        display: none;
    }
    #root #search-box-dec{
        display: none;
    }
    #root .mob-search-box{
        display: block;
        position: sticky;
        top: 0px;
        background-color: white;
        height: max-content;
        z-index:10;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    #root .mob-search-box .search-box{
        margin: 0 10px 0 0;
        height: 26px;
        font-size: 0.7em;
        width: 60%;
    }
    #root{
        padding-top: 0;
    }
    #mobile-nav{
        position: fixed;
        bottom: 0px;
        display: flex;
        width: 100%;
        background-color: white;
        justify-content: space-between;
        padding: 10px 30px;
    }
    #mobile-nav>div{
        height: 100%;
        cursor: pointer;
        border-radius: 4px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #mobile-nav i {
        font-size: 20px;
    }
    #root .categories{
        justify-content: start;
        position: sticky;
        top: 37px;
        z-index: 10;
        background-color: white;
        font-size: 15px;
    }

    /* product  */
    .products-container{
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    }
    .products-container .product{
        font-size: 0.7rem  !important;
        
    }

    .loading-animation .loading{
        width: 50px ;
        height: 50px ;
    }
    .product-preview-container{
        z-index: 1000;
        height: calc(100% -50)  !important;
    }

    .product-preview-container .product-preview{
        width: 100% !important;
        height: 100% !important;
        overflow: scroll;
        
        flex-direction: column;
    }
    .product-preview-container .product-preview > div{
        overflow: visible !important;
    }
    .product-preview-container part-1-a .mob-pre-back-arrow{
        display: block;
        position: absolute;
        top: 20px;
        left: 30px;
    }

}