


/* styles for products container */


.products-container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    grid-template-rows: auto;
    gap: 8px;
    padding-bottom: 100px;
}

.products-container .product{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--product-container);
    transition: .5s;
    font-family: var(--font-poppins);
    font-size: 0.8em;
    cursor: pointer;
}
.products-container .product:hover{
    box-shadow: 0 3px 8px 0 rgba(48, 49, 48, 0.603);
    transform: translateY(-10px);
}

.image-container{
    position: relative;
}
.image-container i{
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--white);
    font-size: 1.3em;
    cursor: pointer;
    
    filter: drop-shadow(4px 4px 8px var(--shadow));
}

.product .product-pic{
    width: 100%;
    aspect-ratio: 10/7;
    margin: auto;
    border-radius: 5px;
}
.product .price .current-price{
    font-family: "Merriweather", serif;
    color: red;
} 
.product .price .actul-price{
    font-size: 0.9em;
    text-decoration: line-through;
}
.rating img{
    width: 10px;
}

.loading-animation{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}
.loading-animation .loading{
    width: 100px;
    height: 100px;
}



/* styles for product preview container */
.product-preview-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(35, 34, 34, 0.699);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-preview-container .product-preview{
    width: 70%;
    height: 350px;
    display: flex;
    position: relative;
    background-color: var(--Text-icon);
}

.product-preview-container .product-preview > div{
    flex: 1;
    padding: 10px;
    height: 100%;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.product-preview-container .product-preview::-webkit-scrollbar{
    display: none;
}

.product-preview-container .part-1-a span{
    position: absolute;
    top: -18px;
    left: -50px;
    font-size: 30px;
    font-weight: 900;
    border: 1px solid var(--border);
    border-radius: 5px;
    width: 35px;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    transition: 0.4s;
    cursor: pointer;
    background-color: var(--white);
    color: var(--border) ;

}


.mob-pre-back-arrow{
    display: none;
}
.product-preview-container .part-1-a span:hover{
    background-color: var(--border);
    color: var(--white) ;
}

.product-preview-container .part-1-a img{
    width: 90%;
    aspect-ratio: 10/7;
    border-radius: 5px;
    margin: auto;
    display: block;
}
.product-preview-container .part-1-b{
    padding: 0 5px;
}

.product-preview-container .part-1-b .preview-title{
    font-size: 1.3em;
    font-weight: 600;
}

.product-preview-container .preview-title .tags{
    font-weight: 500;
    font-size: 1.2rem;
}
.price{
    margin-top: 2px;
}

.price .current-price{
    font-family: "Merriweather", serif;
    color: red;
} 
.price .actul-price{
    font-size: 0.9em;
    text-decoration: line-through;
}
.product-preview .size-unit{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    gap: 5px;
}

.product-preview .size{
    display: flex;
    align-items: center;
}

.product-preview .size-options {
    display: flex;
    gap: 5px;
    padding-left: 5px;
}

.product-preview .size-option {
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    color: gray;
    cursor: pointer;
    transition: all 0.3s;
}

.product-preview .size-option input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.product-preview .size-option input[type="radio"]:checked + label {
    background-color: blue;
    color: white;
    border-color: blue;
}

.product-preview .size-option label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 50%;
}

.product-preview .unit-box{
    display: flex;
    align-items: center;
}

.product-preview .unit-option{
    margin: 0 5px ;
}
.product-preview .unit-option button{
    padding: 2px;
    border: none;
    border-radius: 5px;
    background-color: var(--sh);
    width: 30px;
    vertical-align: middle;
}
.product-preview .unit-option input{
    padding: 3px;
    width: 30px;
    text-align: center;
    border: none;
    border-radius: 5px;
}
.product-preview .unit-option input:focus{
    outline: none;
}
.product-preview .unit-option input::-webkit-inner-spin-button,.product-preview .unit-option input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.product-preview .part-2 h3{
    margin: 5px 0 ;
}
.product-preview .part-2 .item-code{
    margin: 1px 0 4px;
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.74);
}

.product-preview .description-preview{
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.74);
    margin-left: 5px;
}
    

.product-preview .rating-box{
    margin: 5px auto 10px;
    display: flex;
    align-items: center;
}
.product-preview .rating-box img{
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

.product-preview .rating-box .rate{
    margin-left: 5px;
    display: flex;
}
.product-preview .rating-box .rate p{
    margin-left: 5px;
    /* background-color: rgba(33, 32, 32, 0.484); */
}

.product-preview .review-preview{
    margin-top: 5px;
    padding: 5px 8px;
    background-color: var(--floralWhite);
}

.product-preview .review-preview .head-box{
    display: flex;
    align-items: center;
    font-size: 0.8em;
    margin: 0 10px;
    padding: 4px ;
}
.product-preview .review-preview .head-box p{
    margin-left: 5px;
}

.product-preview .review-preview img{
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.product-preview .review-preview .review-content{
    background-color: var(--platinum);
    border-radius: 5px;
    padding-bottom: 4px;
}

.product-preview .review-preview .rev-box{
    margin: 0 25px 0 40px;
}
.product-preview-container .addToCard-buyNow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-text);
    padding: 5px;
    width: 70%;
    height: 50px;
}
.product-preview-container .addToCard-buyNow div button{
    padding: 5px 20px;
    font: 1.1em;
    background-color: rgb(20, 145, 20);
    border-radius: 5px;
    cursor: pointer;
}